.footer {
  background: black;
}

.footer-container {
  max-width: 635px;
  padding: 20px 20px 40px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.footer-container p {
  color: #ccc;
  font-size: 0.875rem;
  margin-top: 10px;
}

.footer-container p a {
  color: #a38100;
  text-decoration: none;
}

@media (max-width: 425px) {
  .footer-container p {
    font-size: 0.625rem;
  }
}
